# Gradle
.gradle/
build/
out/

# IDEs
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Local configs
.env
.env.*

# Java
hs_err_pid*
replay_pid*

# Generated runtime data
run/
logs/

# Local server files
world/
config/
crash-reports/